<p id="notice"><%= notice %></p>

<p>
  <b>Type:</b>
  <%= @certificate_type.type %>
</p>


<%= link_to 'Edit', edit_certificate_type_path(@certificate_type) %> |
<%= link_to 'Back', certificate_types_path %>
