<h1>Editing certificate_of_conformity_response</h1>

<%= render 'form' %>

<%= link_to 'Show', @certificate_of_conformity_response %> |
<%= link_to 'Back', certificate_of_conformity_responses_path %>
