<h1>New certificate_of_conformity</h1>
<h2>ID: <%= @certificate_of_conformity.generated_id %></h2>
<h2>ID: <%= @certificate_of_conformity.generated_string %></h2>

<%= render 'form' %>


<%= link_to 'Back', certificate_of_conformities_path %>
